@charset "utf-8";
@import "_var" , "_mixin";

#article{
    text-align: center;
}
.slider{ 
.swiper-container {
        width: 100%;
    }
    .swiper-slide { 
        img {width: 100%;}
    }
    .swiper-pagination-bullet {
        @include radius(0);
        background: url("../images/main/slider_icon_non_1x.gif") no-repeat; width: 10px; height: 8px;opacity: 1;
        &.swiper-pagination-bullet-active{
            background-image: url("../images/main/slider_icon_on_1x.gif"); width: 10px; height: 15px;
        }
    }

} 
.search{
    height: 400px; background:url("../images/main/pink_noz_bg.gif");
    h3{ color: #ffffff; font-family: baskin; font-weight: 500; display: block;text-align: center; margin: 0 auto; padding-top: 100px;
        div { display: inline-block; text-align: left;}
        .seh_1{font-size: 20px;display: block;margin-bottom: 10px;}
        .seh_2{font-size: 30px;}
        .seh_3{font-size: 50px;font-family: roboT;}
        .seh_3::after{content: "";width: 15px;height: 17px; background:url("../images/main/pick-deco.gif")no-repeat;position: absolute;top: 520px;}
        .seh_3::before{ content:""; position: absolute;left: 0;background: url("../images/main/article2_deco_1x.png")no-repeat center;width: 100%;height: 370px;margin-top: -105px;}
    }
    > p {color: #ffffff; font-weight: 300; margin-top: 20px;margin-left: 20px;
        >span {font-weight: 600;}}
    .searchbar {
        @include radius(50px);
        width: 90%;height: 35px; background: #fff;position: absolute;left: 50%;margin-left: -45%;top: 650px;
        img{ width: 20px;height: 20px;margin: 0 auto;position: absolute; right: 20px;top: 6px;}
        }
    .searchtag{
        text-align: center;
        ul {width: calc(100% - 5px);z-index: 10;}
        ul li { display: inline-block; margin-left: 5px; line-height: 30px;
        button { width: 60px; height: 25px;font-size: 13px; font-weight: 500;text-align: center; background: #ffffff;margin-top: 90px;}
        }
        button.on {
            @include shadow(0px 0px 5px rgba(0, 0, 0,.12));
            background: #FFB2E1; color: #ffffff;font-weight: 600;}
    }


}
.delivery{
    background: #ffffff;
   h3 {margin-top: 70px; font-weight: 600;font-size: 25px;margin-bottom: 50px;}
   h3::after{content:"";width: 140px;height: 4px;background: #fe6caa;position: absolute;top: 930px;left: 50%;margin-left: -70px;}
   strong , p {font-size: 14px;}
   ul {margin: 50px 50px;}
   ul li {
        @include shadow(0px 0px 5px rgba(0, 0, 0,.12));
        float: left; width: calc(50% - 5px); margin-bottom: 10px;
        &:nth-child(even){margin-left: 10px;}
        &:nth-child(4){margin-bottom: 100px;}
        img {width: 100%;}
    }
}
.map{
    background: url("../images/main/map_bg_1x.jpg") no-repeat; width: 100%; height: 500px;
    background-size:cover ;
    h3 {width: calc(70% - 5px);height: 200px;margin: 0 auto;display: block;
    img {margin-top: 150px;}
    }
    
    a { width: 200px; height: 50px;line-height: 50px;display: block;font-size: 16px;margin: 0 auto;margin-top: 150px;
        background: #fff url("../images/main/map_arrow.gif")no-repeat 190px 15px; padding-right: 40px;
}}


//m_ice
#article { 
    width: 100%;margin-top: 46px;
}
.sub_tit_box{
    @include bgcover(cover);
    width: 100%;height:110px;background:url("../images/m_ice/sub_banner_bg_1x.png")no-repeat;
    h3 {color: #ffffff;font-size: 45px;font-family: roboT;font-weight: 600;display:block;text-align: center;padding-top: 40px;}
}
.ice_button {
    text-align: center;
        ul {width: calc(100% - 5px);z-index: 10;}
        ul li { display: inline-block; margin-left: 5px; line-height: 30px;
        button { width: 60px; height: 25px;font-size: 13px; font-weight: 500;text-align: center; background: #ffffff;margin-top: 90px;}
        }
}
.menu_wrap {
    margin: 0 25px;
    ul li {margin-top: 20px;}
}
.menubox {position: relative;
    @include shadow(0px 0px 5px rgba(0, 0, 0,.15));
    margin: 0 auto; height: auto;min-height: 125px;
    img {position: absolute;bottom: 0;left: 10px;}
    &::after { content:""; display: block; clear: both;}
}
.f_r_txt{
    float: right;position: relative;
    ul::after{ content:""; display: block; clear: both;}
    ul li {float: left;border: 1px solid #fe6caa; padding: 2px 5px;margin-left: 20px;font-weight: 400;} 
    h4 { font-family: baskin; font-weight: 500; font-size: 25px;display: block; line-height: 1.5;padding-top: 10px;}
    span {font-size: 9px;color: #999;display: block;}
    button {
        @include radius(50px);
        display: block;width: 60px;height: 20px;background: #fe6caa;color: #ffffff; font-weight: 600; font-size: 10px;}
}

//a_history
.sub_tit_box_h{
    width: 100%;height:100%;position: absolute;background:url("../images/a_history/sub_banner_bg_3x.png")no-repeat;
    h3 {color: #ffffff;font-size: 45px;font-family: roboT;font-weight: 600;display:block;text-align: center;padding-top: 156px;}
}
.v_line {
    width: 4px;height: 1200px;background: #fe6caa; position: absolute;left: 20%;z-index: -1;
}
.story_img {
    @include radius(50%);
    @include shadow(0px 0px 5px rgba(0, 0, 0,.15));
    width: 200px;height:200px;background: #fff;position: absolute;top: 400px; left: 10%;
}
.timeline_box{
    .txt-box{
        h5 {color: #fe6caa; font-family: roboT; font-size: 20px;}
    }
}

@media 
screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min-resolution: 2dpi),
screen and (min-resolution: 2dppx) {
    .map{ 
        background-image: url("../images/main/map_bg_2x.jpg");
    }
}
@media 
screen and (-webkit-min-device-pixel-ratio: 3),
screen and (min-resolution: 3dpi),
screen and (min-resolution: 3dppx) {
    .map{ 
        background-image: url("../images/main/map_bg_3x.jpg");
    }
}
@media 
screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min-resolution: 2dpi),
screen and (min-resolution: 2dppx) {
    .sub_tit_box{ 
        background-image: url("../images/m_ice/sub_banner_bg_2x.png");
    }
}
@media 
screen and (-webkit-min-device-pixel-ratio: 3),
screen and (min-resolution: 3dpi),
screen and (min-resolution: 3dppx) {
    .sub_tit_box{ 
        background-image: url("../images/m_ice/sub_banner_bg_3x.png");
    }
}